* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Georgia", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height:32px;
    background:#A8DDDE;

}

P {
    margin-bottom: 16px;
}

.right {
        padding-left: 5px;
        float: right;
    
}

header {
    background-color: #6FD4BD;
    color: #ffffff;
    height: 140px;
    border: 2px solid #000000;
        padding: 30px;
 margin: 10px;
        
}

header h1 {
    float: left;
    font-family: "Georgia", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-weight: 550;
    padding: 0px; /* TRouBLe */
    color: #ffffff;
    
}

header nav {
    float: left;
    margin-top: 20px;
}

header a {
    color: #ffffff;
    margin-right: 24px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #000000;

}
header a:active {
    text-decoration:underline;
}
header a:focus {}

article {width:760px;
		background-color:#FFFFFF;
		font-family:"Georgia", Helvetica, Arial, sans-serif;
		font-size:13px;
		color:#163573;
		margin-left:160px;
		margin-right:5px;
		margin-top:15px;
		margin-bottom:5px;
		padding:15px;

		}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
    margin-bottom: 10px;
    color: #000000;
    
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    
}

img {
    padding: 10px;
}

footer {
    font-size: 12px;
    height: 60px;
    text-align:center;
    background-color: #6FD4BD;
    color: #ffffff;
    height: 54px;
    border: 2px solid #000000;
        padding: 8px;
    line-height:20px;
 margin: 0px;
}

